


<div class="row">
  <div *ngFor="let item of animes"  style="width: 18rem;"  class="col-md-4">
  <div class="card mb-4 box-shadow" [ngClass]=" {  'bg-info' : item.scope <= 30 , 'bg-success' : item.scope > 30 && item.scope < 50 , 'bg-warning': item.scope > 50 }">
    <img [src]="item.img" class="card-img-top" width="100px" height="255px">
    <div class="card-body" >
      <p class="card-text">{{ item.name }}</p>
      <p class="card-text">{{ item.scope }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button"class="btn btn-sm btn-success" [routerLink]="['/update',item.id]" >Edit</button>
          <button type="button" (click)="delete(item.id)" class="btn btn-sm btn-danger">Delete</button>
        </div>
        <small class="text-muted">Today</small>
      </div>
    </div>
  </div>
</div>
</div>